<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Universe Planet</h6>
        <i>Discover the universe from the palm of your hand with our app. Access NASA's database and explore the most stunning space images along with their detailed descriptions. Satisfy your curiosity about the cosmos anytime, anywhere!</i>
           
          </div>


        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p style="color:white;">
          made with love 🧡 by  &copy; JGL
          </p>
        </div>
        </div>
      </div>
</footer>