@import "../../../styles.scss";

.site-footer {
	position: absolute;
	width: 100%;
	color: #333;

	background-color: $background-color_3;
	padding: 1rem 0 1rem;
	font-size: 15px;
	line-height: 24px;
	color: $gray;
	hr {
		border-top-color: $border-top-color_1;
		opacity: 0.5;
	}
	hr.small {
		margin: 20px 0;
	}
	h1 {
		color: $white;
		font-size: 2.3rem;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	h5 {
		color: $white;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	a {
		color: $gray;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}


