/* Import Responsive Design */
@import "//npmcdn.com/basscss-responsive-margin@1.1.0/css/responsive-margin.css";
@import "//npmcdn.com/basscss-responsive-padding@1.1.0/css/responsive-padding.css";
@import "//npmcdn.com/basscss-responsive-layout@1.0.1/css/responsive-layout.css";
@import "//npmcdn.com/basscss-responsive-position@1.0.0/css/responsive-position.css";
@import "//npmcdn.com/basscss-responsive-typography@1.0.1/css/responsive-typography.css";
@import "//npmcdn.com/basscss-responsive-type-scale@1.0.1/css/responsive-type-scale.css";
@import "//npmcdn.com/basscss@8.0.1/css/basscss.min.css";

/* Colors */

$black: #000;
$white: #fff;
$gray: #737373;
$button_color_primary: #eeff00;
$background: #F0A202;
$font-family_1: poppins;
$background-color_1: #2600ff;
$background-color_2: transparent;
$background-color_3: #26272b;
$border-top-color_1: #bbb;
$background-color_4: #fff;

$font-family_1: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;


$font_size_m: 20px;

::-webkit-scrollbar {
    display: none;
}